<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Centered</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/jo-mascot.png') }}" alt="Example Image">
    <div class="text">
        <p>Welcome athletes to Paris for the 2024 Olympics ! Experience the magic of this historic city as you compete in the world's most prestigious sporting event.</p>
    </div>
</body>
</html>
